/areaCuadrado/nbproject/private/
/areaCuadrado/build/
/areaCirculo/nbproject/private/
/areaCirculo/build/
/cajeroMonedas/nbproject/private/
/cajeroMonedas/build/
/numerosPares/nbproject/private/
/numerosPares/build/
/areaTriangulo/nbproject/private/
/areaTriangulo/build/
/calculadoraBasica/nbproject/private/
/calculadoraBasica/build/
/calculadoraBasicaSwitch/nbproject/private/
/calculadoraBasicaSwitch/build/