/areaCuadrado/nbproject/private/
/areaCuadrado/build/
/areaCirculo/nbproject/private/
/areaCirculo/build/
/cajeroMonedas/nbproject/private/
/cajeroMonedas/build/
/numerosPares/nbproject/private/
/numerosPares/build/
/areaTriangulo/nbproject/private/
/areaTriangulo/build/
/calculadoraBasica/nbproject/private/
/calculadoraBasica/build/
/calculadoraBasicaSwitch/nbproject/private/
/calculadoraBasicaSwitch/build/
/semana 4/categorizacionNota/nbproject/private/
/semana 4/categorizacionNota/build/
/semana 4/funcionPorTramos/nbproject/private/
/semana 4/funcionPorTramos/build/
/semana 4/mayorNumero/nbproject/private/
/semana 4/mayorNumero/build/
/semana 4/raicesCuadraticas/nbproject/private/
/semana 4/raicesCuadraticas/build/
/semana 4 99G/funcionTramos/nbproject/private/
/semana 4 99G/funcionTramos/build/
/semana 4 99G/ecuacionCuadratica/nbproject/private/
/semana 4 99G/ecuacionCuadratica/build/
/semana 4 99G/mayorNumero/nbproject/private/
/semana 4 99G/mayorNumero/build/
/semana 5 J40/ejemploCiclicas/nbproject/private/
/semana 5 J40/ejemploCiclicas/build/
/semana 5 J40/ejercicioCiclicas/nbproject/private/
/semana 5 J40/ejercicioCiclicas/build/